.colour {
    background-color: #263371;
}

.button{
    font-size: 24px;
    background-color: #263371;
    color: white;
    height: 50px;
}

.tylenAleWords {
    height: 120px;
}

a {
    transition: all .3s linear 0s;
}

.video {
    width: 1500px;
}

/*------------ Text ------------*/

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
}

h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

.header-text {
    font-family: 'Bebas Neue', cursive;
}

.centeredText {
    width: 1000px;
}

.centeredText2 {
    width: 900px;
    height: 600px;
}

.text {
    font-size: 18px;
    line-height: 50px;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    margin: auto;
    padding: 15px;
}

.smallText {
    font-size: 18px;
    font-weight: 100;
    line-height: 1em;
}

.floatTextRight {
    display: flex;
    justify-content: end;
}

.floatTextLeft {
    display: flex;
    justify-content: start;
}

/* _____________________________________

   01. General Styles
   _____________________________________ */

    .bodyBackground {
        background-image: linear-gradient(rgba(255, 209, 9, 0.6), rgba(224, 29, 60, 1));
        /* background-image: url('../images/background.png'); */
    }

    .mainBackground {
        background-color: rgba(255, 255, 255, 0.9);
    }

   #siteContainer {
    margin: 0 auto;
    width: 1500px;
    background-color: white;
   }

   .hidden {
    display: none;
    }

    .spacing {
        line-height: 1.5;
    }

    .center {
        text-align: center;
    }

    .title {
        text-align: center;
        font-size: 3em;
        padding-bottom: 15px;
    }
    
    .white {
        color: white;
    }
    
    .centered {
        justify-content: center;
    }
    
    .center-items {
        display: flex;
        justify-content: space-around;
    }
    
    .align {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Header */

    header {
        position: sticky;
        top: 0px;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-content: stretch;
        flex-wrap: nowrap;
        gap: 5em;
        background-color: #263371;
    }

    nav img {
        display: inline-flex;
    }

    .nav ul {
        display: flex;
        justify-content: space-evenly;
    }

    .nav li {
        display: inline;
        font-size: 38px;
        padding: 1em;
        border-radius: 3px;
    }

    .nav a {
        color: white;
    }

    .nav a:hover {
        color: #E11D3E;
    }

    .nav-padding {
        padding: 1em;
    }


    /* Footer */

    .footerImg {
        height: 100px;
        width: 100px;
        float: left;
    }

    .footer-text {
        font-size: 18px;
    }

/* Contact form */

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.contact input[type=text], input[type=email], textarea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 1em;
    margin: 1em 0em 2em 0em;
    resize: vertical;
}

.contact input[type=submit] {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 1em;
    margin: 1em 0em 2em 0em;
}

    /* Images */

    .hero-image {
        margin: 3em 0em 3em 0em;
        width: 1500px;
        margin-top: 0;
    }

    .img {
        width: 500px;
        height: 300px;
    }

    .img2 {
        width: 1500px;;
        height: 800px;
    }

    .img3 {
        width: 374px;
        height: 278px;
    }

    .img4 {
        width: 374px;
        height: 278px;
    }

    .img5 {
        width: 564px;
        height: 405px;
    }

    .centerImgDiv {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .big-logo{
        width: 372px;
        height: 520px;
    }

    .social {
        width: 50px;
        height: 50px;
    }

    .sm-layout {
        grid-column: 3;
    }

    .imgContainer {
        margin: 0 auto;
        width: 1000px;
    }
    
    .centeredImg {
        display: flex;
        justify-content: space-around;
        gap: 10px;
    }

    .floatImgLeft {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: left;
        margin-right: 1em;
    }

    .floatImgLeft img {
        max-height: 100%;
        width: auto;
    }

    .floatImgRight {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: right;
        margin-right: 1em;
    }
    
    .floatImgRight img {
        max-height: 100%;
        width: auto;
    }

    .hero {
        width: 1500px;
        height: auto;
    }
/*------------ Buttons ------------*/

.btn {
    border: 2px solid black;
    background-color: #263371;
    color: black;
    padding: 14px 28px;
    font-size: 36px;
    cursor: pointer;
    transition: all .3s linear 0s;
}

.yes {
    border-color: #FFD107;
    border-width: 4px;
    color: white;
}

.yes:hover {
    background-color: #E11D3E; 
}

.no {
    border-color: #FFD107;
    border-width: 4px;
    color: white;
}

.no:hover {
    background-color: #E11D3E;
}

.beer {
    display: grid;
    margin: auto;
    border-radius: 2em;
    padding: 1em;
    height: 750px;
}

.beerBackground {
    background-color: antiquewhite;
}

/* Lightbox */

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

#close {
    color: #FFFFFF;
    background-color: #263371;
    margin-right: 1em;
    font-style: normal;
    font-size: 4em;
    float: right;
}

#lightbox {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
  
    padding-top: 20em;
  
    width: 100%;
    height: 100%;
  
    align-items: center;
    background-color: rgba(0, 0, 0, 0.85);
  }

  .lightbox-posi {
      padding: 2em;
      width: 500px;
      height: 500px;
      background-color: #FFD107;
      border-radius: 1em;
  }
  
  .show-lightbox { display: block !important; }

/*------------ Padding ------------*/

.padding {
    padding: 2em;
}

.padding2 {
    padding: 4em;
}

.padding3 {
    padding: 1.5em;
}

.padding4 {
    padding: 8px;
}

.topPad {
    padding-top: 2em;
}

.bottomPad {
    padding-bottom: 1em;
}

.border{
    border: 2em;
}

.margin {
    margin: 2em;
}

.background-box {
    background-color: grey;
}

.container {
    display: flex;
}

.column-style {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* _____________________________________

   02. CSS Grid
   _____________________________________ */

   @supports (grid-area: auto) {

    /*------------ Grid Items ------------*/

    .head, .main > *, .foot {
       display: grid;
          grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
    }

    .one-item {
       display: grid;
       grid-column: 2 / span 2;
       grid-template-columns: 1fr;
    }

    .two-items {
       display: grid;
       grid-column: 2 / span 2;
       grid-template-columns: repeat(2, 1fr);
       justify-content: space-evenly;
       row-gap: 1em;
       column-gap: 1em;
    }

    .three-items {
       display: grid;
       grid-column: 1 / span 3;
       grid-template-columns: repeat(3, 1fr);
       justify-content: space-evenly;
       row-gap: 1em;
       column-gap: 1em;
    } 
    .four-items {
        display: grid;
        grid-column: 2 / span 4;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-evenly;
        row-gap: 1em;
        column-gap: 1em;
     } 

}

    /*------------ Floats ------------*/

   .f-left {
    float: left;
 }

 .f-right {
    float: right;
 }

 /*------------ Contact Form ------------*/

.background {
    background-color: #263371;
    height: 500px;
}

@media screen and (max-width: 641px) {

    /* Basics */
    body {
        max-width: 641px;
    }

    .bodyBackground {
        background-image: linear-gradient(rgba(255, 209, 9, 0.6), rgba(224, 29, 60, 1));
        /* background-image: url('../images/background.png'); */
    }

    .mainBackground {
        background-color: rgba(255, 255, 255, 0.9);
    }

    #siteContainer {
    background-color: white;
    }

    .video {
        width: 641px;
    }

    /* Nav */
    .nav {
        display: flex;
        flex-direction: column;
        background-color: #263371;
        gap: 2em;
    }

    nav img {
        display: inline-flex;
        justify-content: center;
        align-self: center;
        max-width: 500px;
        margin: 1em 0 0 1em;
    }

    .nav ul {
        display: flex;
        justify-content: center;
        margin-bottom: 1em;
        gap: 1em;
    }

    .nav li {
        display: inline;
        font-size: 38px;
        border-radius: 3px;
        padding: 0;
    }

    .nav a {
        color: white;
    }

    .nav a:hover {
        color: #E11D3E;
    }

    .nav-padding {
        padding: 0;
    }

    .tylenAleWords {
        height: 120px;
    }

    /* Images */

    .hero-image {
        margin: 3em 0em 3em 0em;
        width: 300px;
        margin-top: 0;
    }

    .img {
        width: 500px;
        height: 300px;
    }

    .img2 {
        width: 641px;
        height: 300px;
    }

    .img3 {
        width: 250px;
        height: auto;
    }

    .img4 {
        width: 250px;
        height: auto;
    }

    .img5 {
        width: 500px;
        height: auto;
    }

    .centerImgDiv {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .big-logo{
        width: 372px;
        height: 520px;
    }

    .social {
        width: 50px;
        height: 50px;
    }

    .sm-layout {
        grid-column: 3;
    }

    .imgContainer {
        margin: 0 auto;
        width: auto;
    }
    
    .centeredImg {
        display: flex;
        justify-content: space-around;
        gap: 10px;
    }

    .floatImgLeft {
        display: flex;
        flex-wrap: wrap;
        flex-direction: inherit;
        justify-content: center;
        margin-right: 0;
    }

    .floatImgLeft img {
        height: auto;
        width: auto;
    }

    .floatImgRight {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: right;
        margin-right: 1em;
    }
    
    .floatImgRight img {
        max-height: 100%;
        width: auto;
    }

    .hero {
        width: 641px;
        height: auto;
    }

    /*------------ Text ------------*/

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
}

h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

.header-text {
    font-family: 'Bebas Neue', cursive;
}

.centeredText {
    width: 500px;
}

.centeredText2 {
    width: 900px;
    height: 600px;
}

.text {
    font-size: 18px;
    line-height: 50px;
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    margin: auto;
    padding: 15px;
}

.smallText {
    font-size: 18px;
    font-weight: 100;
    line-height: 1em;
}

.floatTextRight {
    justify-content: end;
}

.floatTextLeft {
    justify-content: start;
}

/*------------ Buttons ------------*/

.btn {
    border: 2px solid black;
    background-color: #263371;
    color: black;
    padding: 14px 28px;
    font-size: 36px;
    cursor: pointer;
    transition: all .3s linear 0s;
}

.yes {
    border-color: #FFD107;
    border-width: 4px;
    color: white;
}

.yes:hover {
    background-color: #E11D3E; 
}

.no {
    border-color: #FFD107;
    border-width: 4px;
    color: white;
}

.no:hover {
    background-color: #E11D3E;
}

.beer {
    display: grid;
    margin: auto;
    border-radius: 2em;
    padding: 1em;
    height: 750px;
}

.beerBackground {
    background-color: antiquewhite;
}

/* Lightbox */

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

#close {
    color: #FFFFFF;
    background-color: #263371;
    margin-right: 1em;
    font-style: normal;
    font-size: 4em;
    float: inherit;
}

#lightbox {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
  
    padding-top: 10em;
  
    width: 100%;
    height: 100%;
  
    align-items: center;
    background-color: rgba(0, 0, 0, 0.85);
  }

  .lightbox-posi {
      padding: 2em;
      width: 500px;
      height: 500px;
      background-color: #FFD107;
      border-radius: 1em;
  }
  
  .show-lightbox { display: block !important; }

  .two-items {
    display: block;
 }

}